/*estilo dos espaços de cadastro*/
.dn {
  width: 90%;
  padding: 9px 10px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid red;
}
/*estilo dos seletores*/
select {
  width: 50%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/*estilo do botão de cadastro*/

#container1 {
  border: 2px solid #000000;
  background-color: #242424;
  margin:auto;
  padding: 2pt;
  width: 60vh;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px rgb(32, 0, 53), -1em 0 .4em rgb(179, 146, 1);
  text-align: center;
}

.dadosp {
  text-align: center;
}

.espaço {
  padding-left: 30px;
}

/*estilo do titulos*/

.styletitle {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Popsins";
}

.stylesub {
  font-family: "Roboto";
  font-size: 20px;
  color: white;
}

/*estilo do formulario de genero*/
.gender {
  color: white;
}

/*estilo do botão submit*/
.sub {
  border: none;
  width: 150px;
  height: 40px;
  font-size: 15px;
  color: #000000;
}
.sub:hover {
  background-color: #f50f0f;
}


  
.footer{
  background-color: rgba(188, 187, 187, 0.752);
  height: 10vh;
  font-size:small;
  text-align: center;
  padding-top: 35pt;
 }
 

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tipo{
  height: auto;
  width: 180pt;
  box-sizing: border-box;
  margin-top: 50pt;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style:outside;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

.hero {
  height: calc(100vh - 70px);
  background: center / cover no-repeat url("./bg.jpg");
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.752);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

